:root{
    --color-text-light: #F8F9FA;
    --color-text-dark: #293642;
    --section-color: #212529;
    --card-background-light: #f7f8f9;
    --card-background-dark: #6C757D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Almarai";
}
a{
    text-decoration: none;
    color: var(--color-text-dar);
}
.d-flex{
    display: flex;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}
.font-big{
    font-size: 30px;
}

/* themes-style */
#themes-topic{
    height: 95vh;
}
.title-topic{
    margin-top: 50px;
}
.container{
    padding: 4% 10%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-container{
    margin: 20px 0px;
    height: 500px;
    width: 350px;
    background-color: var(--card-background-light);
    border-radius: 10px;
}
.img{
    width: 350px;
    height: 300px;
    background-image: url("/img/beans+blending.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.content-text .content-title{
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold;
}
.content-text .pra{
    max-width: 90%;
    text-align: center;
    margin: auto;
}

.content-text{
    text-align: center;
}
.card-link{
    transition: 0.3s;
    padding: 0 3%;
}
.card-link:hover{
    transform: scale(105%) ;
    filter: brightness(80%);
}
.title-suggistons{
    padding-top: 20px;
    color: var(--color-text-light);
}
.card-light{
    color: var(--color-text-dark);
}

.none-courses{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 30px;
}

/* this for display one of them dives */
.container{
    
}
.none-courses{
    display: none;
}