:root{
    --color-text-light: #F8F9FA;
    --color-text-dark: #293642;
    --section-color: #212529;
    --card-background-light: #f7f8f9;
    --card-background-dark: #6C757D;
    --background-brown: #9C6644;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Almarai";
}
a{
    text-decoration: none;
    color: var(--color-text-dark);
}
label{
    color: var(--color-text-dark);
}
.d-flex{
    display: flex;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}
.font-big{
    font-size: 30px;
}
.bg-dark{
    color: var(--color-text-light);
    background-color: var(--section-color);
}
.pd-bottom-pra{
    padding-bottom: 5px;
}
body{
    background-color: var(--section-color);
}
/* main function is done here */
form{
    background-color: var(--card-background-light);
    width: 500px;
    margin: auto;
    text-align: start;
    padding: 10px 26px;
    border-radius: 10px;
    color: var(--background-brown);
}
form div{
    margin: 10px ;
}
input{
    border: 0;
    font-size: 18px;
    background-color: var(--background-brown);
    color: var(--color-text-light);
    height: 20px;
    border-radius: 5px;
    padding: 20px 10px;
}
input::placeholder{
    color: var(--card-background-light);
}
.sex{
    margin: 30px 0px;
}
.title-sex{
    color: var(--background-brown);
    font-size: 21px;
    font-weight: bold;
}
.text-radio{
    color: var(--background-brown);
    font-size: 19px;
}
.container{
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.middle{
    appearance: none;
    border-radius: 100%;
    background: white;
    border: 6px solid white;
    box-shadow: 0px 0px 0px 3px var(--background-brown);
    width: 50px;
}
.middle:checked{
    appearance: none;
    border-radius: 100%;
    background: var(--background-brown);
    border: 6px solid var(--background-brown);
    box-shadow: 0 0px 0px 3px var(--background-brown);
}
.type{
    display: flex;
    flex-direction: row;
    width: 90%;
}
.title-type, .type{
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    color: var(--background-brown);
}
.sub{
    padding: 18px 67.59px;
    font-size: 18px;
}
.submit{
    justify-content: space-around;
}