:root{
    --color-text-light: #F8F9FA;
    --color-text-dark: #6C757D;
    --color-brown: #9C6644;
    --section-color: #212529;
    --card-background-light: #DEE2E6;
    --card-background-dark: #6C757D;
}
a{
    text-decoration: none;
}
body{
    font-family: "Almarai";
    background-image: url("/img/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-text-light);
}
header{
    width: 100%;
    height: 90vh;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 300px;
}
nav a{
    color: var(--color-text-light);
    transition: 0.2s;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav a:hover{
    color: var(--color-brown) ;
}

.title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 87px ;
}
.home{
    font-size: 30px;
    font-weight: bold;
}
.title h1{
    font-size: 60px;
}
.title h5{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 10px;
    filter: brightness(80%);
}
.select{
    margin-top: 5px;
    border-bottom: 2px solid var(--color-brown);
}