/* this is a navBar style just ! */
:root{
    --color-text-light: #F8F9FA;
    --color-text-dark: #6C757D;
    --color-brown: #9C6644;
    --section-color: #212529;
    --card-background-light: #DEE2E6;
    --card-background-dark: #6C757D;
}
*{
    font-family: "Almarai";
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 90vh;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 300px;
}
nav a{
    color: var(--color-text-light);
    transition: 0.2s;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav a:hover{
    color: var(--color-brown) ;
}
@media screen and (max-width: 1000px) {
    nav{
        padding: 20px 30px;
    }
}