@media screen and (max-width:1024px) {
    header{
        width: 100%;
    }
    nav{
        padding: 0;
        margin: 0 30px;
    }
    nav a{
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 500px) {
    /* nav */
    header{
        width: 100%;
    }
    nav{
        padding: 0;
        margin: 0 30px;
    }
    nav a{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        padding: 0;
        margin: 0;
    }
    .title h1{
        font-size: 26px;
    }
    .title h5{
        font-size: 15px;
    }
    /* nav done */
    /* section themes */
    #seven-paths{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .background-path::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -10;
        filter: brightness(20%);
        background-image: url("/img/images-7lines.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    .background-change-path::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -10;
        filter: brightness(20%);
        background-image: url("/img/change-the-lines.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    .container{
        flex-direction: column;
        padding: 0;
    }
    .card-link{
        padding: 0;
        margin: 10px auto;
        transform: scale(85%);
    }
    .card-link:hover{
        transform: scale(95%);
    }
    .phone-x{
        overflow-x: hidden;
    }
    img{
        padding: 30px;
    }
    .img-padding{
        padding: 0;
    }
    P{
        padding: 0 70px;
        max-width: 100%;
    }
    .d-flex-video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    video{
        width: 350px;
    }
    
}